* {
    margin: 0px
}

header {
    background-color: red;
    text-align: center;
    font-size: 3vw;
    font-family: fantasy;
    height: 50px;
}

#menu {
    float: left;
    width: 30%;
    background-color: lightgrey;
    border: thick solid black;
    height: 700px;
}

li {
    padding: 20px;
    color: blue;
    border: thin solid black;
}

img {
    width: 500px;
    height: 500px;
}

#animalDetails {
    margin: 10px;
    border: thin solid black;
}